@use "../../../../styles/_variables.scss" as *;

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 24px;

    a, .route-clear {
        font-size: 14px;
        text-decoration: none;
        color: $color-green-light;
        text-align: end;
        align-self: flex-end;
        transition: color 0.2s ease;
        cursor: pointer;

        &:hover {
            color: $color-green-primary;
            text-decoration: underline;
        }
    }

    .route-clear {
        background: none;
        border: none;
        padding: 0;
        margin: 0;

        &:disabled {
            color: $color-text-muted;
            cursor: not-allowed;
            opacity: 0.6;
        }
    }
}
