<main>
    <section class="form-section">
        <img src="assets/png/logoBg.png" alt="logo" width="110"/>
        <h2>{{title()}}</h2>
        <ng-content></ng-content>
        <div class="btn-wrapper">
            <button
                type="button"
                class="btnPrimary"
                [disabled]="disablePrimaryButton()"
                (click)="submit()"
            >
                {{primaryButtonText()}}
            </button>
            <div class="divider">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
            <button type="button" class="btnSecondary" (click)="navigate()">{{secondaryButtonText()}}</button>
        </div>
    </section>
</main>
